.primeiraslistas{ color:rgb(82, 12, 129);
}

.segundaslistas{ color:rgb(130, 16, 196);
}

.terceiraslistas{ color:darkslateblue
}

.ultimaslistas{ color:rgb(237, 227, 241)
}

#titulo { color:rgb(146, 9, 135);
}

.paragrafo{ 
    color: rgb(85, 5, 105);
    font-size: 17px;
    font-family:Verdana;
    line-height: 1;
    border:2px solid rgb(8, 77, 206);
}